absl-py==2.1.0
algebra==1.2.1
anyio==4.4.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==24.2.0
babel==2.16.0
backends==1.6.6
backends-matrix==1.3.0
beartype==0.18.5
beautifulsoup4==4.12.3
bleach==6.1.0
cffi==1.17.0
cftime==1.6.4
colorama==0.4.6
comm==0.2.2
cycler==0.12.1
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
exceptiongroup==1.2.2
executing==2.0.1
fastjsonschema==2.20.0
fdm==0.4.1fonttools==4.53.1
fqdn==1.5.1
fsspec==2024.6.1
gluonts==0.9.6
grpcio==1.65.4
h11==0.14.0
holidays==0.54
httpcore==1.0.5
httpx==0.27.0
importlib_metadata==8.2.0
ipykernel==6.29.5
ipython==8.18.1
ipywidgets==8.1.3
isoduration==20.11.0
jedi==0.19.1
joblib==1.4.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.11
kiwisolver==1.4.5
lab==8.2
Markdown==3.6
markdown-it-py==3.0.0
matplotlib==3.5.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
mkl-service==2.4.0
mlkernels==0.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
netCDF4==1.7.1.post2
NeuralProcesses==0.2.6
notebook==7.2.1
notebook_shim==0.2.4
numpy ==1.26.4
opt-einsum==3.3.0
overrides==7.7.0
packaging==24.1
pandas==1.4.2
pandocfilters==1.5.1
parso==0.8.4
platformdirs==4.2.2
plum-dispatch==2.5.2
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==4.25.4
psutil==6.0.0
pure_eval==0.2.3
pyarrow==17.0.0
pycparser==2.22
pydantic==1.10.17
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-slugify==8.0.4
pytorchts==0.6.0
pytz==2024.1
pywin32==306
pywinpty==2.0.13
pyzmq==26.1.1
qtconsole==5.5.2
QtPy==2.4.1
rfc3986-validator==0.1.1
rich==13.8.0
rpds-py==0.20.0
scikit-learn==1.5.1
scipy==1.10.1
seaborn==0.13.2
Send2Trash==1.8.3
simplejson==3.19.3
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
stack-data==0.6.3
stheno==1.4.1
tensorboard==2.17.0
tensorboard-data-server==0.7.2
terminado==0.18.1
text-unidecode==1.3
threadpoolctl==3.5.0
tinycss2==1.3.0
tomli==2.0.1
toolz==0.12.1
torch==2.1.0+cu121
torch_geometric==2.4.0
torchaudio==2.1.0+cu121
torchdiffeq==0.2.4
torchvision==0.16.0+cu121tqdm==4.64.1
traitlets==5.14.3
txt2tags==3.9
types-python-dateutil==2.9.0.20240316
tzdata==2024.1
uri-template==1.3.0varz==0.8.1
wbml==0.4.1
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
widgetsnbextension==4.0.11
xarray==2024.7.0
zipp==3.19.2
